{% extends 'admin.html.twig' %}

{% block title %}New CategorieChambre{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    {{ include('admin/categorie_chambre/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_admin_categorie_chambre_index') }}">back to list</a>
{% endblock %}
